@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merienda;
}
body{
    text-align: center;
}
.logo{
    height: 70px;
    width: 170px;
}
.country-pics{
    height: 300px;
    width: 300px;
}
.cpic{
    height: 80px;
    width: 80px;
    margin:0.5rem;
    border-radius: 50%;
    border: 5px solid #fff;
}
.mpics{
    height: 60px;
    width: 60px;
    margin: 0.5rem;
}
.socialacc{
    height: 30px;
    width: 30px;
}
.piclogo{
    height: 340px;
    width: 400px;
    margin-top: 1rem;
}
h2,h4,p{
    margin: 1rem;
}
span{
    font-size: x-large;
    font-weight: 900;
    color: #880099;
}
@media screen and (min-width:360px) {
    header nav{
        margin: 1rem;
        font-size: x-large;
        font-weight: 900;
    }
    header nav a{
        text-decoration: none;
        color: black;
    }
    header nav a:hover{
        cursor: pointer;
    }
    header nav .right{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    header nav .left ul, header nav .right ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    header nav .left ul li, header nav .right ul li{
        padding: 0.5rem;
    }
    header .content .logo{
        display: none;
    }
    header .content .left p{
        font-size: larger;
    }
    header .content button{
        margin: 0.5rem;
        padding: 0.8rem;
        text-align: center;
        border-radius: 30px;
        border: none;
        color: white;
        background-color: black;
        width: 10rem;
        font-size: large;
        font-weight: 600;
    }
    main{
        margin: 1rem;
    }
    main .upper h2, main .middle h2, footer h2{
        font-size: xx-large;
        font-weight: 900;
    }
    main .upper p, main .middle p, main .bottom p{
        font-size: larger;
    }
    main .upper .images ul, main .middle ul, main .bottom ul{
        list-style: none;
        margin-top: 2rem;
    }
    main .upper .images ul li, main .middle ul li, main .bottom ul li{
        height: 430px;
        width: auto;
        border-radius: 30px;
        margin-bottom: 1rem;
        background-color: grey;
        box-shadow: 0px 4px 8px 2px rgba(128,128,128,0.9);
    }
    main .upper .images ul li img{
        margin: 0.9rem;
        border-radius: 30px;
        border: 5px solid white;
    }
    main .upper .images ul li .place-name p{
        font-weight: 900;
    }
    main .middle ul li{
        height: 310px;
    }
    main .bottom ul li{
        height: 340px;
    }
    footer{
        background: grey;
    }
    footer .one, .two, .three, .four, .five, .six{
        margin: 1rem;
    }
    footer ul{
        list-style: none;
    }
    footer h3{
        margin: 0.5rem;
        font-size: larger;
        font-weight: 900;
    }
    footer ul li{
        margin: 0.3rem;
        font-size: large;
        font-weight: 500;
    }
    footer .six ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .six ul li{
        margin: 0.5rem;
    }
}
@media screen and (min-width:500px) {
    header nav .left{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
@media screen and (min-width:700px) {
    header nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .content{
        display: grid;
        grid-template-columns: 42% auto;
    }
    header .content .logo{
        display: block;
    }
    header .content .left{
        margin: 1rem;
    }
    header .content .left p{
        text-align: start;
        line-height: 1.5rem;
    }
    main .upper .images ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    main .upper .images ul li{
        margin-right: 0.7rem;
    }
    main .middle ul li{
        height: 230px;
    }
    main .bottom ul li{
        height: 250px;
    }
    footer .items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width:900px) {
    header .content .left{
        margin-top: 3rem;
    }
    .piclogo{
        width: 520px;
        margin-left: 2rem;
    }
    main .upper h2{
        margin-top: 5rem;
    }
    main .upper .images ul li{
        margin: 1rem;
    }
    main .middle ul, main .bottom ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    main .middle ul li{
        margin: 0.5rem;
        height: 340px;
    }
    main .bottom ul li{
        margin: 0.5rem;
        height: 390px;
    }
    footer .items{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (min-width:1100px){
    main .upper .images ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    main .middle ul li{
        height: 310px;
    }
    main .bottom ul li{
        height: 340px;
    }
}
